body {
    background-color: black;
}

p {
    font-family: 'Monoton', cursive;
    color: red;
    display: flex;
}

.header {
    display: flex;
    justify-content: center;
    font-size: 5em;
}

#messenger {
    position: absolute;
    left: 50%;
    top: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    text-shadow: 0 2px 2px rgba(#000, 0.9);
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    p {
        font-size: 24px;
    }
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    p{
        font-size: 48px;
    }
}